.sidebar {
    border-right-width: 1px;
    background-color: var(--color-primary);
    border-color: var(--color-border);
    @apply h-[100vh]  transition-all flex flex-col  items-center;

    .sidebar-logo {
        border-bottom-width: 1px;
        border-color: var(--color-border);
        @apply h-32 w-full flex justify-center items-center;
    }
    ul {
        display: flex;
        flex-direction: column;
        @apply gap-10;
    }

    .sidebar-item {
        background-color: var(--color-secondary);
        @apply w-10 h-10 flex items-center justify-center rounded-full;
        &:hover {
            background-color: var(--color-tertiary);
        }
    }

    .sidebar-icon {
        color: var(--color-font);
        font-size: 1rem;
    }
}

.spin-full 
{
    animation: spin 1s linear infinite; 
}

.spin {
    &:hover {
        .sidebar-icon {
            animation: spin 1s linear infinite;
        }
    }
}
.move {
    &:hover {
        .sidebar-icon {
            animation: moves 1s linear infinite;
        }
    }
}

@keyframes moves {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-7px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.aside {
    background-color: var(--color-primary);
    border-right-width: 1px;
    border-color: var(--color-border);
}

.sidebar-item {
    background-color: var(--color-secondary) ;
    @apply w-10 h-10 flex items-center justify-center rounded-full transition-all;

    &:hover {
        background-color: var(--color-tertiary);
    }
}

.sidebar-icon {
    color: var(--color-font);
    font-size: 1rem;
}

.heartful{
    background-color: var(--bs-btn-bg);
    @apply w-10 h-10 flex items-center justify-center rounded-full transition-all;

    &:hover {
        background-color: #0792fc;
    }

    .sidebar-icon {
        color: #fff;
        font-size: 1rem;
    }
}

.chat-cata {
    &[data-active="true"] {
        background-color: #1c9dea !important;
        border-color: #1c9dea !important;
    }
    @apply badge badge-lg badge-neutral text-white h-8 px-4 capitalize;
}

.chat-line {
    &:hover {
        background-color: var(--color-tertiary);
    }
}


.active-chat{
    background-color: var(--color-soft);
}

.fade-text{
    color: var(--color-font);
    opacity: 0.8;
}

.unread{
    font-weight: 500;
}

.modal-box{
    background-color: var(--color-primary)!important;
    border-color: var(--color-border);
    @apply rounded-lg;

    .modal-input{
        background-color: var(--color-secondary);
        border-color: var(--color-border);
        color: var(--color-font);
    }

    .user-chat{
        @apply flex gap-2  py-3 px-4 rounded-lg; 
        &:hover{
            background-color: var(--color-hover);
        }
    }
}

.dropdown{
       
    color: var(--color-font);

    ul{
    @apply shadow-lg;

    }
     ul, li {
        background-color: var(--color-primary);
    }
    li,a {
        &:hover {
            background-color: var(--color-hover);
            color: #000;
        }
    }
}

.res-input{

    @apply input input-sm md:input-md modal-input ;
}
