

.theme-dark .chat-bg {
    background-image: url("../../../assets/svgs/darkChatBg.svg");
    width: 100%;
}

.chat-bg {
    background-image: url("../../../assets/svgs/chatBg.svg");
    width: 100%;

    .chat-banner {
        background-color: var(--color-primary);
        height:6rem;
        width:100%;
        box-shadow: 0px 20px 20px 0px var(--color-shadow);
        @apply flex items-center px-5;
    }

    .chat-input{
        background-color: var(--color-primary);
    }

    .chat-end .chat-bubble{
        background-color: var(--bs-btn-bg);
        max-width: 80vw;
        padding-top: 5px;
        color : #fff;
    }
    .chat-bubble .messageHour{
        color: var(--color-font-fade);
        font-size: 0.7rem;
        @apply whitespace-nowrap;
    }
    .date{
        @apply text-center py-3;

        span{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 600;
            @apply px-7 py-2 rounded-2xl text-base; 
        }
    }
}

.beatLoader{
    color:var(--color-font)!important;
}

