@import './assets/styles/index' ;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/ui/styles/btn';

//size box 
*, *::before, *::after{
     box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
     display: none;
   }
   
   /* Hide scrollbar for IE, Edge and Firefox */
   .scroll {
     -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
   }
   
.theme{
     background-color: var( --color-primary);
     color: var(--color-font);
     font-family : $font-primary;
}

.invalid-feedback{
     color: rgb(221, 8, 8);
}

.fade-text{
     color: var(--color-font-fade);
     font-family : $font-primary;
}

.loading-title{
     color: var(--color-font-fade);
     font-family : $font-primary;
     font-size: 2rem;
}


select{
     font-family : $font-primary;
     background-color: var(--color-soft);
     border-color: var(--color-secondary);   
     border-radius: 8px;
     min-width: 25vw;
}
input {
     border-radius: 5px!important;
}